// ::ng-deep .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
//     color: black;
//     background-color:#0B629F;
//   }
  
.yes{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.no{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.mat-dialog-title {
    font: 600 18px/30px Roboto,"Helvetica Neue",sans-serif!important;
}
